<main>
  <p>Pet Management 3000</p>
  <form (submit)="onSubmit()">
    <input type="text" [(ngModel)]="pet" [ngModelOptions]="{standalone: true}">
    <button type="submit">Add pet</button>
  </form>

  <div class="container">
    <div class="row">

      <div class="column">
        Listed

        <div *ngFor="let d of data">
          <div *ngIf="d.status == 0">
            {{ d.name }}
            <button (click)="onNext(d.id)">Next</button>
          </div>
        </div>
      </div>

      <div class="column">
        Examining

        <div *ngFor="let d of data">
          <div *ngIf="d.status == 1">
            {{ d.name }}
            <button (click)="onNext(d.id)">Next</button>
          </div>
        </div>
      </div>

      <div class="column">
        Finally Back to Hooman

        <div *ngFor="let d of data">
          <div *ngIf="d.status == 2">
            {{ d.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<router-outlet />